.Rproj.user
.Rhistory
.RData
.Ruserdata

hansard-in-full/hansard_in_full.csv
hansard-in-full/hansard_in_full.csv.gz
hansard-in-full/hansard_with_mp_details.csv
hansard-in-full/debates_xml
hansard-in-full/debates_xml.tar.gz
hansard-pmqs/old
analysis/scorers/objectivity_vs_subjectivity/subjectivity_classifier/variables/variables.data-00000-of-00001
